#cp-nome-usuario{
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.cp-dev-container{
    height: auto;
}

.cp-dev-content{
    width: auto;
    font-size: 30px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cp-cargo,#cp-telefone,#cp-email-dev{
    margin-top: 20px;
    font-size: 1.9rem;
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-bottom: 10px;
}

.cp-trabalhos{
    height: auto;
    width: 90%;
    padding: 20px;
    margin-left: 5%;
    margin-bottom: 30px;
    background-color: rgb(188, 185, 185);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cp-trabalho-renderizado{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid black;
    cursor: pointer;
}

.cp-trabalho{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#cp-titulo-trabalho{
    height: auto;
    width: auto;
    font-size: 1.8rem;
}
.cp-bt_opcoesTrabalho{
    height: auto;
    width: auto;
    display: flex;
    justify-content: end;
}

#cp-bt_linkTrabalho{
    font-size: 1.3rem;
    height: 4rem;
    width: 8rem;
    padding-left: 15px;
    padding-top: 5px;
    margin: 10px;
    color: white;
    background-color: black;
    border: 5px double white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}